<!DOCTYPE html>

<html lang='en'>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            h1
            {
                color: beige;
            }
            input [type=text]
            {
                background-color: darkgray;
                color: whitesmoke;
            }
        </style>
    </head>
    <body style="background-color: black;">
        {% block main %}
        {% endblock %}
    </body>
</html>